html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://mir-s3-cdn-cf.behance.net/projects/404/1eac8c40307227.Y3JvcCw1MzUsNDE4LDQzMiw2Mg.jpg")o-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }