
 <header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:teal" >
      <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" > Bank</a>
          </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav" style="color:white;">
            <li class="nav-item active">
              <a href="/" style="color:white;">Home</a>
            </li>  
        </ul>
        </div>
    {% if user.is_authenticated %}
    
   
           
             
        {% else %}
         
    {% endif %}      
          
     
      <hr>
      <a href="/accounts/register/" style="color:white; font-size: 13px"> SignUp </a>
      <a style="font-size:10px;" class='btn btn-default' href="/accounts/login">Login</a>
    </div>
    </div>
          </div>
        </div>
     </nav>
     <div id="intro" class="view">
      <div class="mask">
      </div>
    </div>
    
    </header>
    
